p{
    margin: 0;
}
#main{
    display: flex;
}
#left-menu{
    background-color: burlywood;
    height: 100vh;
    width: 240px;
    display: flex;
    transition: width 0.5s;
}
#left-menu.closed{ /* 假使在left-menu上使用.closed 則套用 */
    width: 60px;
}
#right-content{
    background-color: cadetblue;
    height: 100vh;
    overflow: scroll;
}
#right-content .content{
    min-width: 804px;
    white-space: nowrap; /* 不分行 */
}
#icon-list{
    flex-shrink: 0; /* 寬度不變動 字才能直接出來 而不是慢慢出來*/
    width: 60px;
    height: 100vh;
}
#function-list{
    flex-shrink: 0; /* 寬度不變動 字才能直接出來 而不是慢慢出來*/
    /*width: calc(100% - 60px);*/
    width: 180px;
    height: 100vh;
}