#left{
    background-color: red;
    height: 33.33vh; /* viewport height	 */
}
#center{
    background-color: aqua;
    height: 33.33vh;
}
#right{
    background-color: cadetblue;
    height: 33.33vh;
}
p{
    margin: 0;
}
.pb-row{
    display: flex;
    flex-wrap: wrap; /* overflow 的話 wrap可以換行 */
}
.pb-col{
    /* flex-grow | flex-shrink | flex-basis */
    flex: 1 0 0%; /* 如果有三份的話，大概等於 width: 33.33%（三個區塊分） ，但盡量少用設定絕對的數值 */
}
.pb-col-25{
    width: 25%;
    flex: 0 0 auto; /* 直接固定幾%  然後 .pb-row 裡面的wrap可以幫助換行 */
}
.pb-col-50{
    width: 50%;
    flex: 0 0 auto;
}
.pb-col-75{
    width: 75%;
    flex: 0 0 auto;
}
.pb-col-100{
    width: 100%;
    flex: 0 0 auto;
}
/* 外面是手機 */
@media (min-width: 768px) {
    /*平板*/
    .pb-col-md-25{
        width: 25%;
        flex: 0 0 auto; /* 直接固定幾%  然後 .pb-row 裡面的wrap可以幫助換行 */
    }
    .pb-col-md-50{
        width: 50%;
        flex: 0 0 auto;
    }
    .pb-col-md-75{
        width: 75%;
        flex: 0 0 auto;
    }
}


@media (min-width: 1200px) {
    /*桌機*/
    .pb-col-lg-25{
        width: 25%;
        flex: 0 0 auto; /* 直接固定幾%  然後 .pb-row 裡面的wrap可以幫助換行 */
    }
    .pb-col-lg-50{
        width: 50%;
        flex: 0 0 auto;
    }
    .pb-col-lg-75{
        width: 75%;
        flex: 0 0 auto;
    }
}
